* {
  box-sizing: border-box;
}

.signup {
  max-width: 400px;
  padding: 18px;
  border-radius: 10px;
  background-color: rgb(50, 77, 128);
}

.signup__header {
  position: relative;
  display: flex;
  justify-content: center;
}

.header__title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.header__close {
  position: absolute;
  right: 0;
  top: 0;
}

.signup__content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.text-field {
  display: flex;
  flex-direction: column;
  color: white;
}

.content__field {
  margin-top: 10px;
}

.signup__buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.button {
  padding: 5px;
  border: none;
  border-radius: 3px;
  color: white;
}

.agreement_button {
  background-color: green;
}

.cancel_button {
  background-color: red;
}