body {
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  font-family: 'Open Sans', Arial, sans-serif;
}

div {
  display: flex;
}

h1 {
  text-align: center;
  color: #35495A;
}

.orange-card, .white-background, .blue-card, .green-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: bold;
}

.orange-card, .blue-card, .green-card {
  margin-top: 40px;
}

.orange-card {
  background: #EE8029;
  border-radius: 5px;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  width: 295px;
  font-size: 20px;
  position: relative;
  z-index: 2;
  left: 45%;
}

.white-background {
  width: 100%;
  padding-left: 15px;
  padding-top: 20px;
  background: white;
  color: #35495A;
  font-size: 20px;
  text-align: center;
}

span {
  font-size: 80px;
}

.title1, .title2, .title3 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.5rem 0;
  border-radius: 5px;
}

.title3 {
  background: #00B89A;
  padding: 18px 0;
}

.title2 {
  background: #2BC2D4;
  padding: 18px 0;
}

.button1 {
  margin-right: 17px;
  margin-bottom: 35px;
  margin-top: 3px;
  background: #EE8029;
  color: white;
  padding: 10px 75px;
  border-color:  #EE8029;
  border-radius: 5px;
  box-shadow: 0 3px  #865127;
}

.button1:hover {
  background: #f37006;
  box-shadow: 0 0 0 0  #865127;
}

img {
  padding-right: 7px;
}

.price {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-right: 40px;
}

.price sup, .price sub {
  position: absolute;
}

sup {
  top: 15px;
  left: 55px;
  font-size: 20px;
}

sub {
  top: 65px;
  right: 45px;
}

.list1 {
  list-style-type: none;
  font-size: 15px;
  font-weight: normal;
  text-align: justify;
  color: #C2C8D0;
  padding-left: 0;
  padding-right: 15px;
  margin-top: 0;
}

li {
  padding: 8px;
  margin: 1px;
}

li:nth-child(even) {
  background: #F5F5F6;
}

li:nth-child(odd) {
  background: #EDF5FD;
}

.blue-card {
  background: lightgrey;
  border-radius: 5px;
  color: white;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  width: 295px;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 29.5%;
  top: 90px;

}

.button2 {
  margin-right: 16px;
  margin-left: 5px;
  margin-bottom: 27px;
  margin-top: 3px;
  background: #2F70A8;
  color: white;
  padding: 10px;
  border-color:  #2F70A8;
  border-radius: 5px;
  box-shadow: 0 3px  #2a3d66;
}

.green-card {
  background-color: lightgrey;
  border-radius: 5px;
  color: white;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  width: 295px;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  left: 60.5%;
  top: 90px;
}

h4 {
  font-size: 20px;
  margin: 0;
}